<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1>Create a new Movie</h1>
    </div>
</div>
<!--Testing-->

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form ng-submit="controller.saveMovie()">
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" ng-model="controller.mToSave.title" /><p>{{controller.errorMessages.title[0]}}</p>
            </div>
            <div class="form-group">
                <label>Year</label>
                <input type="number" class="form-control" ng-model="controller.mToSave.year" /><p>{{controller.errorMessages.year[0]}}</p>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" />
            </div>


        </form>
    </div>
</div>